<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itzpy.blog.dao.mapper.ArticleBodyMapper">

    <delete id="deleteByArticleId" parameterType="long">
        DELETE FROM article_body WHERE article_id = #{articleId}
    </delete>
</mapper>